{% extends "base.html" %}
{% load mezzanine_tags rating_tags comment_tags future %}

{% block title %}
<a>{{ object.title }}</a>
{% endblock %}

{% block main %}

{% if images %}
{% spaceless %}
<ul id="product-images-large" class="thumbnails">
    {% for image in images %}
    <li id="image-{{ image.id }}-large"{% if not forloop.first %}style="display:none;"{% endif %}>
            <a class="product-image-large thumbnail" rel="#image-full-{{ image.id }}" href="{{ MEDIA_URL }}{{ image.file }}">
            <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 0 300 %}">
        </a>
        <div class="product-image-full" style="display:none;" id="image-full-{{ image.id }}">
            <img src="{{ MEDIA_URL }}{{ image.file }}">
        </div>
    </li>
    {% endfor %}
</ul>

{% if images|length != 1 %}
<ul id="product-images-thumb" class="thumbnails">
        {% for image in images %}
        <li>
        <a class="thumbnail" id="image-{{ image.id }}" href="{{ MEDIA_URL }}{{ image.file }}">
            <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 75 75 %}">
        </a>
    </li>
        {% endfor %}
</ul>
{% endif %}

{% endspaceless %}
{% endif %}
<p> {{ object.room_status }}</p>
<p> {{ object.price }}</p>
<p> {{ object.start_date }}</p>
<p> {{ object.description }}</p>
<p>{% rating_for object %} by {{ object.user.username }} {{ object.publish_date|timesince }} ago</p>
{% comments_for object %}
{% endblock %}

