{% extends "base.html" %}
{% load mezzanine_tags rating_tags comment_tags future %}

{% block title %}
<a>{{ object.title }}</a>
{% endblock %}

{% block main %}

{% endspaceless %}
{% endif %}
<p> {{ object.room_status }}</p>
<p> {{ object.price }}</p>
<p> {{ object.start_date }}</p>
<p> {{ object.description }}</p>
<a class="btn btn-large btn-primary btn-profile" href="{% url "rental_contract_create" object.id  %}">Rental Contract Creation</a>
<p>{% rating_for object %} by {{ object.user.username }} {{ object.publish_date|timesince }} ago</p>
{% comments_for object %}
{% endblock %}

